body {
  background-color: var(--mainWhite);
  font-family: var(--fontText);
  color: var(--main);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fontHead);
}

a {
  color: var(--mainDark);
}

a:hover {
  text-decoration: none;
  color: var(--main);
}
