@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,700|Nunito:400,700&display=swap&subset=cyrillic-ext");

:root {
  --main: #888a8f;
  --mainDark: #3a3b3d;
  --mainLight: #f0f4fc;
  --mainWhite: #faffff;
  --lighter: #b3b6bd;
  --lightest: #f2f7ff;

  /* Marker colors */
  --created: #3a3b3d;
  --illegal: #f15a5a;
  --legal: #4eba6f;
  --notfound: #f1868d;
  --passed: #f59336;
  --question: #1c1011;
  --removed: #2d95bf;

  --mainTransition: all 0.3s linear;

  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

  --fontHead: "Nunito", sans-serif;
  --fontText: "Fira Sans Extra Condensed", sans-serif;
}

.text-main {
  color: var(--main);
}

.text-mainDark {
  color: var(--mainDark);
}

.text-lighter {
  color: var(--lighter);
}

/* Animations */

@keyframes flip-horizontal-top {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

/* Scrollbar */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--lightest);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--lightest);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border: 1px solid var(--mainDark);
}
